* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #e0f4f4; 
    padding: 20px;
    margin: 0;
}

header {
    text-align: center;
    background-color: #006d6d; 
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

header p {
    font-size: 16px;
    font-weight: bold;
}

nav {
    margin-top: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #006d6d;
    text-decoration: none;
    font-weight: bold;
}


section {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1fdfd; 
    border-radius: 8px;
    text-align: justify;
}

section h2 {
    color: #004a4a;
    font-size: 20px;
    margin-bottom: 10px;
}

.profile-pic {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto 15px;
}

#about p{
    text-align: justify;
}

/* Skills and Tools */
#skills-tools ul {
    padding-left: 20px;
    padding-bottom: 20px;
}

#skills-tools ul li {
    margin-bottom: 5px;
    list-style-type:circle;
}

#skills-tools ul li::marker {
    color: teal;
}

#training ul{
    padding-left: 20px;
    padding-bottom: 20px;
}

#training ul li{
    margin-bottom: 5px;
    padding-left:5px;
    list-style-type:circle;
}

#training ul li::marker {
    color: teal;
}

#hobbies ul{
    padding-left: 20px;
    padding-bottom: 20px;
}

#hobbies ul li{
    margin-bottom: 5px;
    padding-left:5px;
    list-style-type:circle;
}

#hobbies ul li::marker {
    color: teal;
}

/* Portfolio Section */

.project {
    margin-bottom: 15px;
}

.project h3 {
    color: black;
    font-size: 18px;
    padding-left: 10px;
}

.project p {
padding-left: 10px;
}

.project a {
    padding-left: 10px;
    }

.project a {
    display: inline-block;
    color: #005555;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 5px;
}

/* Contact Section */
#contact {
    text-align: center;
    background-color: #e0f4f4;
    padding: 15px;
 
}

#contact input, 
#contact textarea, 
#contact button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#contact button {
    background-color: #006d6d;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #005555;
}

footer{
    text-align: center;
}

.linkedin-link {
    color: #005555;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.linkedin-link:hover {
    color: #007777;
}
/* Responsive Styling */
@media (min-width: 768px) {
    body {
        max-width: 600px;
        margin: 0 auto;
    }
}
